@model SystemSkarbnik.Models.ZbiorkaUczen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ZbiorkaUczen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ZbiorkaID" class="control-label"></label>
                <select asp-for="ZbiorkaID" class="form-control" asp-items="ViewBag.ZbiorkaID"></select>
                <span asp-validation-for="ZbiorkaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlasaID" class="control-label"></label>
                <select asp-for="KlasaID" class="form-control" asp-items="ViewBag.KlasaID"></select>
                <span asp-validation-for="KlasaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UczenID" class="control-label"></label>
                <select asp-for="UczenID" class="form-control" asp-items="ViewBag.UczenID"></select>
                <span asp-validation-for="UczenID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CzyZaplacil" /> @Html.DisplayNameFor(model => model.CzyZaplacil)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="KiedyZaplacil" class="control-label"></label>
                <input asp-for="KiedyZaplacil" class="form-control" />
                <span asp-validation-for="KiedyZaplacil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
