<div style="height:80vh;background-image:url(https://w0.peakpx.com/wallpaper/79/468/HD-wallpaper-gigachad.jpg); background-size:cover; background-repeat: no-repeat; background-position: top;">
@{
    ViewData["Title"] = "Admin";
}
    <div style="text-align: center;">
        <marquee width="800px" behavior="alternate"><img src="https://lh3.googleusercontent.com/pw/ADCreHfOOEQ4koEhPmPqYJ0A4kgv0Kl8CiB2_s3AiU6SXMc03oAife2j6u3rFrPwAouY4vo6KNuNV0bAQr_xRa8NxcoKNshh5bwembxJ7JU7OjWqnTlIG7Va_kS1GHsmMyGRP6ZleiWDvzE5k6Lhgu-HnHraJ8oKfqZSLYO7UhGCUHJ8IGPTpbWgoEEMuQhT3lAlxOF6mdto7CTNJdhnPLCum-t1HjVKMkNK1QJBfUxKksJLLun_VCpqOuPreWW7wxfuhsLOtMtBpCS5xjW4SS7oEYHqjySmdHEYFkm6YBMCbXS8cPm918y1DvG5vHGlg3PngAzS1Spzu7cIpqZu0SFx1Hwg-J8sMTao_Mtx0yyth66ATuYKPh7Wg4I1CQXCbQOKHvBrSboSzVOvPpI3IRKKrJFUfroCoFrIiRUb-zhQBUXaSZjFrdPgYkhJca6mqTQD4cJPU2RABK27Meo7Fhe0bAm-9ZCrNZE-8Vh8SwfOpvnmLEU1G71JDtEIqZ_uCW8gL-gf-GH1gvM0nkTmER5sQ2l3EJ3gNZV9XKgmcdIU2w-548-mvAqOeYWr6-Ye-WQaqMv3oKYAHk9o0HM0WOVbXK2CUmTO9T8OR7xO2HHx9MRYV8euivxCg7sCXAEP5AtFiVlg3A4z23iXxV0grt-ipHmc6vUxYjyVSpm4S33a2k14FmqoDZu3RTycBv6iMON4KxjFrG4Hl5HQ4voO9rlYu2Zklft73nSHjQ7QwgmhmX-1Q5A_EcWBu-5N3CxraBIdtGhScKOBUwHQrHTzxanWHjX92X9LoTvX5EYBimcBbkEHOQ5ruJZ3Mn7Z_lFSBjG2e3rZBvGeLQ2aOyvFgBnPjiGdgamXp4wPUM7aapfVoQ1sNqEkcza7ZWdDZoOhNUzYoEHH=w609-h99-s-no-gm?authuser=0" /></marquee>
    </div>


<div style="display:flex; justify-content: space-between;">
<a class="nav-link text-dark" asp-area="" asp-controller="Klasa" asp-action="Index"><button type="button" class="btn btn-danger">Lista klas</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Skarbnik" asp-action="Index"><button type="button" class="btn btn-danger">Lista skarbników</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Uczen" asp-action="Index"><button type="button" class="btn btn-danger">Lista uczniów</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ZbiorkaUczen" asp-action="Index"><button type="button" class="btn btn-danger">Zbiórki - płatności</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Zbiorka" asp-action="Create"><button type="button" class="btn btn-danger">Utwórz zbiórkę</button></a>
</div>
</div>
   